<!DOCTYPE html>
<html>
    <%- include('./parts/head.ejs') %>

    <body class="cbp-spmenu-push cbp-spmenu-push-toright">
        <div class="main-content">
            <!-- main content start-->
            <div id="page-wrapper">
                <div class="main-page login-page ">
                    <h2 class="title1">
                        <span class="fa fa-shield"></span> SBS<span class="dashboard_text">Secure Banking System</span>
                    </h2>
                    <div class="widget-shadow">
                        <div class="login-body">
                            <form action="/login" method="post">
                                <input
                                    type="email"
                                    class="user"
                                    name="email"
                                    placeholder="Enter Your Email"
                                    required=""
                                />
                                <input
                                    type="password"
                                    name="password"
                                    class="lock"
                                    placeholder="Password"
                                    required=""
                                />
                                <% if(logInError[0]) {%>
                                <p class="alert alert-danger"><%= logInError[0] %></p>
                                <% } %> <% if(loginValidationErrors) {%>
                                <p class="alert alert-danger"><%= loginValidationErrors.msg %></p>
                                <% } %>
                                <div class="forgot-grid">
                                    <label class="checkbox"
                                        ><input type="checkbox" name="checkbox" checked="" /><i></i>Remember me</label
                                    >
                                    <div class="forgot">
                                        <a href="/resetpass">forgot password?</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <input type="submit" name="Sign In" value="Sign In" />
                                <div class="registration">
                                    Don't have an account ?
                                    <a class="" href="/signup">
                                        Create an account
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./parts/footer.ejs') %>
        </div>
        <%- include('./parts/scripts.ejs') %>
    </body>
</html>
