<!DOCTYPE html>
<html>
    <%- include('./parts/head.ejs') %>

    <body class="cbp-spmenu-push">
        <div class="main-content">
            <%- include('./parts/sidebar.ejs') %> <%- include('./parts/topbar.ejs') %>
            <!-- main content start-->
            
            <%- include('./parts/footer.ejs') %>
        </div>
        <%- include('./parts/scripts.ejs') %>
    </body>
</html>
